.main{
    align-items: center;
    display: flex;
    padding: 0 3rem;
    overflow-x: hidden;
}


.main__img{
    width: 80%;
    transform: translate(30%, 0%);
}

.main__top{
    align-items: center;
    display: flex;
    text-transform: uppercase;
    width: 150%;
}

.main__new{
    background: var(--very-dark-blue);
    border-radius: 1rem;
    color: var(--light-grayish-blue);
    font-weight: 700;
    font-size: 0.8rem;
    margin-right: 1rem;
    padding: 0.5rem 0.8rem;
}

.main__new__text{
    color: var(--grayish-blue);
    letter-spacing: 0.2rem;
}

.main__title{
    color: var(--very-dark-blue);
    font-family: var(--ff-barlow);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem 0;
    width: 150%;
}

.main__para{
    color: var(--dark-grayish-blue);
    padding: 1rem 0;
}

.main__bottom{
    align-items: center;
    display: flex;
    width: 300%;
}

.main__button{
    background: var(--red);
    border-radius: 0.3rem;
    color: var(--light-grayish-blue);
    cursor: pointer;
    font-weight: 700;
    font-size: 0.9rem;
    margin-right: 1rem;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
}

.main__button:hover{
    background: var(--light-red);
}

.main__button__text{
    color: var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

@media screen and (max-width: 768px) {
    .main{
        flex-direction: column-reverse;
        padding: 0 2rem;
        overflow-x: hidden;
    }

    .main__img{
        width: 150%;
        transform: translate(20%, 0%);
        padding: 2rem 0;
    }
    
    .main__text{
        width: 90%;
    }
    .main__title{
        width: 100%;
    }

    .main__bottom{
        width: 150%;
        margin-bottom: 2rem;
    }

    .main__button__text{
        font-size: 0.7rem;
    }
    
}

@media screen and (max-width: 375px) {
    .main{
        flex-direction: column-reverse;
        padding: 0 2rem;
        overflow-x:hidden;
    }

    .main__img{
        width: 150%;
        transform: translate(20%, 0%);
        padding: 2rem 0;
    }
    
    .main__text{
        width: 90%;
    }

    .main__bottom{
        width: 150%;
        margin-bottom: 2rem;
    }

    .main__button__text{
        font-size: 0.7rem;
    }
    
}